.com-filter {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  margin-top: -28%;
  width: 300px;
  background-color: #f9f9f9;
}

.com-filter h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.com-filter label {
  display: block;
  margin-bottom: 5px;
}

.com-filter input[type="text"],
.com-filter input[type="radio"] {
  margin-bottom: 10px;
}

.com-filter button {
  background-color:rgba(142, 93, 172, 0.649);
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.com-filter button:hover {
  background-color:rgba(142, 93, 172, 0.649);
}
